/*! Copyright©2008-2016 zuche.com All Rights Reserved.2016-07-14 */

@charset "utf-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button, input {
	margin: 0;
	padding: 0
}
body {
	font: 12px/1.5 Helvetica, "Microsoft yahei", Arial, Verdana, SimHei, sans-serif;
	color: #333;
	background-color: #fff
}
img, fieldset {
	border: 0;
	vertical-align: middle
}
table {
	border-collapse: collapse
}
.pr10 {
	padding-right: 10px
}
.pt15 {
	padding-top: 15px
}
.ar {
	text-align: right
}
a {
	color: #6ab0ff;
	text-decoration: none;
blr:expression(this.onFocus=this.blur());
	outline: 0
}
a:focus {
	outline: 0
}
a:hover {
	text-decoration: underline
}
ul, ol {
	list-style: none
}
input[type=button], input[type=submit] {
	-webkit-appearance: none;
	vertical-align: middle
}
input[type=text], input[type=password] {
	border-radius: 0;
	width: 298px;
	padding: 9px 10px;
	border-color: #e9ebee;
	border-style: solid;
	border-width: 1px;
	height: 18px;
	font: 14px/18px "Microsoft YaHei", SimSun, Tahoma, Verdana, Arial, sans-serif;
	outline: 0;
	color: #93939e;
	vertical-align: middle;
	background-color: #fff
}
input[type=text]:focus {
	box-shadow: none
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
background-color:#fafafa!important;
background-image:none!important;
color:#000
}
input::-ms-clear, input::-ms-reveal {
display:none;
-webkit-appearance:none
}
input[type=button]:focus, select:focus {
	box-shadow: none;
	outline: 0
}
.hide {
	display: none
}
.iefix-bg {
	position: absolute;
	height: 33px;
	bottom: 0;
	width: 100%;
	background: #000\9;
	filter: alpha(opacity=40)\9;
opacity:.4\9;
	z-index: 1\9
}
:root .iefix-bg {
	display: none\9
}
.clearfix {
	overflow: hidden;
*zoom:1
}
.fl {
	float: left
}
.fr {
	float: right
}
.clear {
	clear: both
}
.overflow {
	overflow: hidden
}
.divin {
	display: inline
}
.p-re {
	position: relative
}
.f12 {
	font-size: 12px
}
.f14 {
	font-size: 14px
}
.f16 {
	font-size: 16px
}
.f20 {
	font-size: 20px
}
.f18h1 {
	font-size: 18px;
	font-family: "微软雅黑", arial, Simsun, sans-serif;
	height: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0;
	font-weight: 400
}
.f18h1:hover {
	text-decoration: none
}
.mauto {
	margin: 0 auto
}
.mauto20 {
	margin: 20px auto
}
.mt15 {
	margin-top: 15px
}
.mt10 {
	margin-top: 10px
}
.mt20 {
	margin-top: 20px
}
.mgt30 {
	margin-top: 30px
}
.mb5 {
	margin-bottom: 5px
}
.mb10 {
	margin-bottom: 10px
}
.mb15 {
	margin-bottom: 15px
}
.mr5 {
	margin-right: 5px
}
.ml5 {
	margin-left: 5px
}
.pt10 {
	padding-top: 10px
}
.pb10 {
	padding-bottom: 10px
}
.p10 {
	padding: 10px
}
.pt5 {
	padding-top: 5px
}
.p5_10 {
	padding: 5px 10px
}
.p0_10 {
	padding: 0 10px
}
.bgwhite {
	background-color: #FFF
}
.white {
	color: #FFF
}
.black {
	color: #000
}
.gray {
	color: #484848
}
.gray_ccc {
	color: #ccc
}
.red {
	color: #F00
}
.yelow {
	color: #fdb811
}
.bgalpha {
	background: rgba(0,0,0,.5);
	border: 1px solid rgba(255,255,255,.5);
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	-khtml-opacity: .5;
	opacity: .5
}
.height13 {
	height: 14px;
	line-height: 13px;
	font-size: 12px
}
.d_none {
	display: none
}
.ac {
	text-align: center
}
.zc-tel, .zc-blyes, .zc-yecx, .zc-yewd, .zc-yecxn, .zc-yelc, .zc-retan, .zc-close, .zc-fresh, .zc-iuser, .zc-ipsw, .zc-iyzm, .zc-iphone, .zc-idtm, .zc-iyhm, .zc-peyeh, .zc-peyes, .zc-oryes, .zc-gryes, .eng_icon, .sz_k, .sz_c, .zc-blcir, .zc_ordown, .zc_switch_c, .s_dest, .zc_record_i, .zc_asset_i, .zc_yuanbj, .zc_phone_i, .zc_service_i, .zc_help_i, .zc_share_i, .zc_top_i, .zc_nont_ory, .zc_has_ory, .zc_blue_yandown, .platina_m_icon, .goldcard_m_icon, .silver_m_icon, .ordinary_m_icon, .diamond_m_icon, .administrator_m_icon, .zc_newsinfo, .zc_fetch_i, .zc_giveback_i, .arrowd, .lighten, .arrowd-y, .amount .logo, .zc_time_icon, .state, .graykaicon, .trumpeticon {
	display: inline-block;
	background: url(http://image.zuchecdn.com/newversion/news/common/icon.png) no-repeat
}
.zc-tel {
	width: 200px;
	height: 17px;
	background-position: 0 0
}
.zc-blyes {
	width: 15px;
	height: 15px;
	background-position: -160px 0
}
.zc-yecx {
	width: 42px;
	height: 34px;
	background-position: -200px 0
}
.zc-yewd {
	width: 29px;
	height: 34px;
	background-position: -260px 0
}
.zc-yecxn {
	width: 28px;
	height: 34px;
	background-position: -320px 0
}
.zc-yelc {
	width: 33px;
	height: 34px;
	background-position: -380px 0
}
.zc-retan {
	width: 17px;
	height: 17px;
	background-position: -440px 0;
	vertical-align: middle
}
.zc-close {
	width: 12px;
	height: 12px;
	background-position: -480px 0
}
.zc-fresh {
	width: 16px;
	height: 16px;
	background-position: -520px 0
}
.zc-iuser {
	width: 14px;
	height: 20px;
	background-position: 0 -50px
}
.zc-ipsw {
	width: 14px;
	height: 20px;
	background-position: -40px -50px
}
.zc-iyzm {
	width: 12px;
	height: 20px;
	background-position: -80px -50px
}
.zc-iphone {
	width: 12px;
	height: 20px;
	background-position: -120px -50px
}
.zc-idtm {
	width: 16px;
	height: 20px;
	background-position: -160px -50px
}
.zc-iyhm {
	width: 12px;
	height: 20px;
	background-position: -200px -50px
}
.zc-peyes {
	width: 15px;
	height: 20px;
	background-position: -240px -50px
}
.zc-peyeh {
	width: 15px;
	height: 20px;
	background-position: -280px -50px
}
.zc-oryes {
	width: 26px;
	height: 26px;
	background-position: 4px -93px
}
.zc-gryes {
	width: 32px;
	height: 32px;
	background-position: -40px -100px
}
.eng_icon {
	width: 4px;
	height: 5px;
	background-position: -594px -3px;
	font-size: 0;
	line-height: 0;
	margin-left: 5px
}
.sz_k {
	width: 89px;
	height: 32px;
	background-position: 0 -192px
}
.sz_c {
	width: 89px;
	height: 32px;
	background-position: 0 -153px
}
.zc-blcir {
	width: 26px;
	height: 26px;
	background-position: -79px -99px
}
.zc_ordown {
	width: 8px;
	height: 4px;
	background-position: -563px 0;
	vertical-align: middle
}
.zc_switch_c {
	width: 40px;
	height: 20px;
	background-position: -228px -100px;
	vertical-align: middle;
	cursor: pointer
}
.zc_switch_c.checked {
	background-position: -175px -100px
}
.zc_switch_c.s_open {
	background-position: -175px -100px
}
.ordinary_m_icon {
	width: 60px;
	height: 60px;
	background-position: 0 -455px
}
.silver_m_icon {
	width: 60px;
	height: 60px;
	background-position: -69px -455px
}
.goldcard_m_icon {
	width: 60px;
	height: 60px;
	background-position: -140px -455px
}
.platina_m_icon {
	width: 60px;
	height: 60px;
	background-position: -211px -455px
}
.diamond_m_icon {
	width: 60px;
	height: 60px;
	background-position: -284px -455px
}
.administrator_m_icon {
	width: 60px;
	height: 60px;
	background-position: 0 -529px
}
.zc_newsinfo {
	width: 6px;
	height: 6px;
	background-position: -556px -101px;
	font-size: 0;
	line-height: 6px
}
.zc_fetch_i {
	width: 16px;
	height: 16px;
	background-position: -170px -235px
}
.zc_giveback_i {
	width: 16px;
	height: 16px;
	background-position: -170px -262px
}
.arrowd {
	width: 20px;
	height: 20px;
	background-position: -313px -48px
}
.arrowd-y {
	width: 20px;
	height: 20px;
	background-position: -557px 8px
}
.zc_time_icon {
	width: 15px;
	height: 15px;
	background-position: -421px -100px;
	vertical-align: middle
}
.graykaicon {
	width: 50px;
	height: 34px;
	background-position: -550px -173px
}
.trumpeticon {
	width: 16px;
	height: 14px;
	background-position: -482px -137px;
	vertical-align: middle
}
.zc_iptdown {
	background: url(http://image.zuchecdn.com/newversion/news/common/input_down.png) no-repeat center right
}
.zc_iptcalendar {
	background: url(http://image.zuchecdn.com/newversion/news/common/input_calendar.png) no-repeat center right
}
.zc-btn {
	display: block;
	height: 50px;
	line-height: 50px;
	background-color: #fabe00;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	border: 0;
	font-family: "Microsoft YaHei";
	cursor: pointer
}
.zc-btn.btn-login {
	width: 320px;
	background-color: #fabe00
}
.zc-btn.btn-qzuche {
	width: 180px;
	background-color: #fabe00
}
.zc-btn.btn-kuaijie {
	width: 180px;
	background-color: #3b99fc
}
.zc-btn.btn-confirm {
	width: 320px;
	background-color: #fabe00
}
.zc_record_i {
	width: 16px;
	height: 19px;
	display: inline-block;
	background-position: -584px -50px
}
.zc_asset_i {
	width: 17px;
	height: 19px;
	display: inline-block;
	background-position: -445px -136px
}
.zc_yuanbj {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-position: -547px -50px
}
.zc_phone_i {
	width: 13px;
	height: 18px;
	display: inline-block;
	background-position: -567px -50px
}
.zc_service_i {
	width: 18px;
	height: 18px;
	display: inline-block;
	background-position: -525px -50px
}
.zc_help_i {
	width: 18px;
	height: 18px;
	display: inline-block;
	background-position: -502px -50px
}
.zc_share_i {
	width: 16px;
	height: 18px;
	display: inline-block;
	background-position: -478px -50px
}
.zc_top_i {
	width: 18px;
	height: 18px;
	display: inline-block;
	background-position: -452px -50px
}
.zc_nont_ory {
	width: 8px;
	height: 8px;
	display: inline-block;
	background-position: -592px -99px
}
.zc_has_ory {
	width: 8px;
	height: 8px;
	display: inline-block;
	background-position: -576px -99px
}
.zc_blue_yandown {
	width: 16px;
	height: 16px;
	background-position: -388px -100px;
	vertical-align: middle
}
.zc-iptbox {
	position: relative
}
.zc-iptbox label {
	position: absolute;
	left: 1px;
	top: 2px;
	z-index: 9;
	width: 34px;
	height: 37px;
	text-align: center;
	background-color: #fff
}
.zc-iptbox label span {
	vertical-align: middle;
	margin-top: 8px
}
.zc-iptbox .zc-ipt {
	display: inline-block;
	width: 273px;
	height: 20px;
	color: #93939e;
	padding-left: 35px;
	font-size: 13px
}
.zc-iptbox .zc-iptsht {
	display: inline-block;
	width: 153px;
	height: 20px;
	color: #93939e;
	padding-left: 35px;
	font-size: 13px;
	vertical-align: middle
}
.zc-iptbox .zc-secret {
	position: absolute;
	top: 10px;
	left: 295px;
	display: none
}
.zc-iptbox .ipt-err, .ipt-err {
	display: none;
	width: 288px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #dadadf;
	border-radius: 5px;
	padding-left: 10px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.25);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.25);
	box-shadow: 0 0 20px rgba(0,0,0,.25)
}
.zc-iptbox .ipt-err .arrowbox, .ipt-err .arrowbox {
	position: absolute;
	width: 18px;
	height: 25px;
	color: #dadadf;
	font-size: 20px;
	font-family: SimSun
}
.zc-iptbox .ipt-err .arrow, .ipt-err .arrow {
	position: absolute;
	height: 25px;
	color: #fff
}
.zc-iptbox .input-errlog, .input-errlog {
	display: block;
	position: absolute;
	left: 10px;
	top: -44px;
	z-index: 20
}
.zc-iptbox .input-errlog .arrowbox, .input-errlog .arrowbox {
	position: absolute;
	left: 50%;
	margin-left: -9px;
	bottom: -7px
}
.zc-iptbox .input-errlog .arrow, .input-errlog .arrow {
	top: -1px;
	left: 0
}
.zc-iptbox .ipt-err .zc-retan, .ipt-err .zc-retan {
	vertical-align: middle
}
.zc-iptbox .ipt-err i, .ipt-err i {
	display: inline-block;
	padding-left: 10px;
	font-size: 14px;
	vertical-align: middle;
	font-style: normal;
	color: #60606c
}
.zc-iptbox .ipt-err .zc-close, .ipt-err .zc-close {
	position: absolute;
	top: 14px;
	right: 10px;
	cursor: pointer
}
.zc-iptbox .btn-dtm, .btn-dtm {
	margin-left: 10px;
	width: 108px;
	height: 38px;
	line-height: 38px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	border-radius: 3px
}
.zc-iptbox .btn-getdtm, .btn-getdtm {
	display: inline-block;
	border: 1px solid #ffde74;
	color: #fabe00;
	background-color: #fffaea
}
.zc-iptbox .btn-dtmdao, .btn-dtmdao {
	display: inline-block;
	border: 1px solid #e9ebee;
	color: #93939e;
	background-color: #fafbfc
}
.zc-iptbox .pic-yzm {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	width: 108px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #e9ebee;
	vertical-align: middle
}
.zc-iptbox .pic-yzm img {
	width: 100%;
	height: 100%;
	vertical-align: top
}
.zc-iptbox .pic-yzm .zc-fresh {
	position: absolute;
	top: 12px;
	right: 8px;
	z-index: 30;
	z-index: 15
}
.zc-iptbox .input-erreg {
	position: absolute;
	top: 0;
	left: 320px;
	margin-left: 8px;
	z-index: 21
}
.zc-iptbox .input-erreg .arrowbox {
	position: absolute;
	top: 50%;
	margin-top: -19px;
	left: -10px
}
.zc-iptbox .input-erreg .arrow {
	position: absolute;
	top: 0;
	left: 1px;
	height: 25px;
	color: #fff
}
.zc-iptbox .input-erreg .arrow {
	top: 0;
	left: 1px
}
.zc_index_dz .ipt-err {
	position: absolute
}
.zc-erreg {
	position: absolute;
	display: none;
	height: 38px;
	line-height: 38px;
	border: 1px solid #dadadf;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.25);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.25);
	box-shadow: 0 0 20px rgba(0,0,0,.25)
}
.zc-erreg .p-re {
	padding-left: 20px;
	padding-right: 65px
}
.zc-erreg .zc-retan {
	position: absolute;
	top: 11px;
	left: 10px
}
.zc-erreg .arrowbox {
	position: absolute;
	width: 18px;
	height: 25px;
	color: #dadadf;
	font-size: 20px;
	font-family: SimSun
}
.zc-erreg .arrow {
	position: absolute;
	height: 25px;
	color: #fff
}
.zc-erreg .zc-retan {
	vertical-align: middle
}
.zc-erreg i {
	float: left;
	padding-left: 10px;
	font-size: 14px;
	vertical-align: middle;
	font-style: normal;
	color: #60606c;
	white-space: nowrap
}
.zc-erreg .zc-close {
	position: absolute;
	top: 0;
	right: 6px;
	cursor: pointer;
	background-image: none;
	font-size: 14px;
	color: #ff8650;
	width: 57px;
	line-height: 38px;
	height: 38px
}
.zc-erreg {
	position: absolute;
	top: 0;
	left: 320px;
	margin-left: 8px;
	z-index: 21
}
.zc-erreg .arrowbox {
	position: absolute;
	top: 50%;
	margin-top: -19px;
	left: -10px
}
.zc-erreg .arrow {
	position: absolute;
	top: 0;
	left: 1px;
	height: 25px;
	color: #fff
}
input::-ms-clear {
display:none
}
.tabs {
	overflow: hidden
}
.tabs li {
	float: left;
	cursor: pointer
}
.tabs li.cur {
}
.tabcontents {
	display: none
}
.tabcontents.cur {
	display: block
}
.zc_head_bd {
	min-width: 1200px;
	width: 100%;
	height: 58px;
	border-top: 2px solid #eeb81a;
	background-color: #1b2b3b;
	position: relative;
	z-index: 1999
}
.zc_main {
	width: 1200px;
	margin: 0 auto;
	position: relative
}
.zc_head_bd .zc_main {
	height: 58px;
	z-index: 11
}
.zc_head_bd .zc_logo {
	display: block;
	width: 211px;
	position: absolute;
	top: 0;
	left: 0;
	height: 58px;
	background: url(logo.png) no-repeat;
	z-index: 10
}
.zc_head_bd .zc_phone_bd {
	position: absolute;
	top: 20px;
	right: 0;
	z-index: 10
}
.zc_phone_bd .zc-tel {
	cursor: pointer
}
.zc_ga_phonebox {
	display: none;
	position: absolute;
	top: 16px;
	left: -25px;
	z-index: 12
}
.zc_p_h:hover .zc_ga_phonebox {
	display: block
}
.zc_page_bd {
	position: relative;
	height: 0;
	font-size: 0;
	width: 1200px;
	margin: 0 auto
}
.zc_page_title {
	font-size: 24px;
	color: #eeb81a;
	font-family: "黑体", 'microsoft yahei';
	position: absolute;
	top: 17px;
	left: 215px;
	z-index: 12;
	line-height: 28px
}
.zc_brand {
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #e9ebee;
	background: url(http://image.zuchecdn.com/newversion/news/common/brand_bg.png)
}
.zc_login_bd .zc_brand .zc_main {
	height: auto
}
.zc_brand ul {
	overflow: hidden;
	border-right: 1px solid #e9ebee
}
.zc_brand ul li {
	width: 298px;
	float: left;
	text-align: center;
	border-left: 1px solid #e9ebee;
	padding-top: 23px;
	height: 77px
}
.zc_brand ul li p {
	text-align: center;
	font-size: 16px;
	color: #71767a
}
.zc_b_bd {
	height: 100px
}
.zc_b_bd .zc_brand {
	border-top: 1px solid #e9ebee;
	background: #feffff
}
.zc_brand ul li p b {
	font-weight: 400;
	font-family: "黑体", 'microsoft yahei';
	font-size: 16px
}
.zc_footmenu .zc_main {
	overflow: hidden
}
.zc_footmenu {
	padding-top: 35px;
	padding-bottom: 35px
}
.zc_footmenu dl {
	float: left
}
.zc_footmenu dl dt {
	font-size: 16px;
	color: #60606c;
	padding-bottom: 15px
}
.zc_footmenu dl dt a {
	color: #60606c
}
.zc_footmenu dl dd {
	overflow: hidden
}
.zc_footmenu dl dd a {
	float: left;
	min-width: 70px;
	font-size: 12px;
	color: #93939e;
	line-height: 14px;
	padding-bottom: 10px
}
.zc_footmenu dl.wyd {
	width: 150px;
	padding-right: 150px
}
.zc_footmenu dl.why {
	width: 100px;
	padding-right: 140px
}
.zc_footmenu dl.wsj {
	width: 150px;
	padding-right: 110px
}
.zc_footmenu dl.wfy {
	width: 150px
}
.zc_footmenu dl.wbz {
	float: right;
	width: 150px
}
.zc_footmenu dl.wbz dt {
	padding-left: 30px
}
.zc_footmenu dl.wbz dd a {
	float: right;
	text-align: right
}
.zc_footcopyright {
	padding-bottom: 40px;
	background-color: #1b2b3b
}
.zc_footcopyright .ainfor {
	padding: 18px 0;
	border-top: 1px solid #e9ebee;
	border-bottom: 1px solid #e9ebee;
	overflow: hidden
}
.zc_footcopyright .ainfor a {
	font-size: 12px;
	line-height: 14px;
	color: #93939e;
	margin-right: 30px;
	float: left
}
.zc_footcopyright .ainfor a.eng_wz {
	float: right;
	margin-right: 0
}
.zc_copyright {
	padding-top: 27px
}
.zc_copyright p {
	font-size: 12px;
	color: #93939e
}
.zc_copyright p a.yellowmailt {
	color: #eeb819
}
.zc_copyright a.sz_k {
	margin-right: 10px
}
.zc_menu {
	overflow: hidden;
	margin-left: 225px
}
.zc_menu li {
	float: left
}
.zc_menu li a {
	display: block;
	padding: 0 12px;
	line-height: 58px;
	font-size: 14px;
	color: #fff
}
.zc_menu li a:hover, .zc_menu li.homecur a, .zc_menu li.cur a {
	text-decoration: none;
	color: #fabe00
}
.zcindex_login {
	position: absolute;
	top: 0;
	width: 230px;
	right: 152px;
	text-align: center;
	color: #fabe00
}
.zcindex_login a.colfabe00 {
	color: #fabe00;
	font-size: 14px
}
.zcindex_login a.colc8c8ce {
	color: #c8c8ce;
	font-size: 14px
}
.zcindex_login .wdl {
	display: none;
	line-height: 58px
}
.zcindex_login .ydl {
	display: none;
	font-size: 14px;
	color: #c8c8ce;
	padding-top: 17px
}
.zcindex_login .ydl h1 {
	width: 140px;
	text-align: right;
	font-size: 14px;
	font-family: 'microsoft yahei', "黑体";
	font-weight: 400;
	float: left;
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden
}
.ml20 {
	margin-left: 20px
}
.zcindex_login b {
	font-size: 16px
}
.zc_index_my {
	float: left;
	padding-left: 10px;
	position: relative;
	z-index: 10
}
.zc_index_my a.top {
	line-height: 25px;
	font-size: 14px;
	color: #fabe00;
	display: inline-block
}
.zc_index_my a.top:hover {
	text-decoration: none
}
.zc_index_my a.top .zc_ordown {
	margin-left: 5px
}
.contmyszlist {
	position: absolute;
	top: 28px;
	z-index: 12;
	left: -14px;
	display: none
}
.contmyszlist .p-re {
	min-height: 123px;
	width: 108px;
	background-color: #284664;
	padding-top: 10px;
	border-radius: 5px
}
.contmyszlist .y {
	position: absolute;
	z-index: -1;
	left: 45px;
	color: #284664;
	top: -18px;
	font-size: 40px;
*+font-size:20px;
	line-height: 42px
}
.contmyszlist a {
	display: block;
	line-height: 28px;
	display: block;
	text-align: left;
	color: #8fb3da;
	font-size: 12px;
	padding-left: 23px
}
.z-graybg {
	background-color: #f2f3f5
}
.zc_foottool {
	position: fixed;
	bottom: 0;
	right: 2px;
	z-index: 299
}
.zc_foottool li {
	position: relative
}
.zc_foottool a {
	display: block;
	width: 36px;
	height: 31px;
	padding-top: 11px;
	text-align: center;
	background-color: #1b2b3b;
	border-radius: 3px 0 0 3px;
	margin-bottom: 1px
}
.zc_foottool a:hover {
	text-decoration: none;
	background-color: #fabe00
}
.zc_foottool .zc_foottooltipe {
	position: absolute;
	min-width: 90px;
	top: 0;
	right: 41px;
	line-height: 24px;
	padding: 9px 0;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background-color: #284664;
	border-radius: 2px;
	display: none;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.15);
	box-shadow: 0 0 20px rgba(0,0,0,.15)
}
.zc_foottool .zc_foottooltipe .rightsj {
	position: absolute;
	font-size: 38px;
	color: #284664;
	top: -9px;
*+top:-12px;
	right: -11px;
	line-height: 42px
}
.zc_login_box {
	width: 360px;
	height: 373px;
	position: absolute;
	top: 64px;
	right: 0;
	background-color: #fff;
	z-index: 10
}
.zc_login_box ul.tabs {
	overflow: hidden;
	width: 100%
}
.zc_login_box ul.tabs li {
	width: 180px;
	height: 47px;
	line-height: 47px;
	border-bottom: 1px solid #e4e6e9;
	border-left: 1px solid #e4e6e9;
	font-size: 16px;
	color: #6b7179;
	text-align: center;
	background-color: #f3f4f6;
	margin-left: -1px
}
.zc_login_box .tabcontents {
	position: relative
}
.zc_login_box ul.tabs li.cur {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	color: #2f2f39
}
.zc_login_box .tabcontents ul {
	padding: 0 20px
}
.zc_login_box .tabcontents ul li, .zc_login_box ul.login_sub li {
	margin-bottom: 10px;
*+margin-bottom:9px;
	position: relative;
	min-height: 28px;
	font-size: 14px;
	color: #60606c
}
.zc_login_box ul.login_sub {
	padding: 0 20px
}
.zc_login_box ul.tabl {
	overflow: hidden;
	width: 100%
}
.zc_login_box ul.tabl li {
	float: left;
	cursor: pointer;
	width: 180px;
	height: 47px;
	line-height: 47px;
	border-bottom: 1px solid #e4e6e9;
	border-left: 1px solid #e4e6e9;
	font-size: 16px;
	color: #6b7179;
	text-align: center;
	background-color: #f3f4f6;
	margin-left: -1px
}
.zc_login_box ul.tabl li.cur {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	color: #2f2f39
}
.zc_login_box input.wipt {
	width: 273px;
	padding-left: 35px
}
.zc_login_box .icon_wz {
	position: absolute;
	top: 1px;
*top:2px;
	left: 1px;
	height: 27px;
	padding-left: 12px;
	padding-top: 8px;
	background-color: #fff;
	padding-right: 8px
}
#xpassword {
	display: none
}
.zc_login_box .tabcontents ul li.clearfix {
*+margin-bottom:6px
}
.zc_login_box .tabcontents ul li.zc_list_che {
*+min-height:24px
}
.zc_list_che input {
	vertical-align: middle;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 5px;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0
}
.zc_list_che .zc-blyes {
	vertical-align: middle;
	margin-right: 8px
}
.zc_blyes_kong {
	display: none;
	width: 13px;
	height: 13px;
	line-height: 10px;
	font-size: 10px;
	border-radius: 2px;
	border: 1px solid #6ab0ff;
	vertical-align: middle;
	margin-right: 8px
}
.zc_login_rbox {
	width: 320px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: #60606c;
	font-size: 14px;
	background-color: #fafbfc;
	border-radius: 5px;
	border: 1px solid #e9ebee
}
input.zc-iptsht {
	width: 153px;
	padding-left: 35px
}
span.pic-yzm {
	width: 108px;
	height: 36px;
	border: 1px solid #e9ebee;
	margin-left: 5px;
	display: inline-block
}
.zc_login_box .zc-fresh {
	position: absolute;
	right: 7px;
	top: 12px;
	cursor: pointer
}
.zc_l_error {
	height: 15px;
	line-height: 15px
}
.presentlogin_bd {
	width: 360px;
	height: 373px;
	position: relative;
	padding: 40px 70px 0
}
.presentlogin_bd .zc_login_box {
	top: 40px;
	left: 70px
}
.presentlogin_bd .zc_login_box ul {
	padding: 0 20px
}
.presentlogin_bd .zc_login_box ul.tabl li {
	width: 160px;
	border-left: 0 none;
	border-bottom: 2px solid #f3f4f6;
	margin-left: 0;
	background-color: #fff;
	color: #1b2939
}
.presentlogin_bd .zc_login_box ul.tabl li.cur {
	border-bottom: 2px solid #fabe00
}
.zc_selectjs {
	position: relative;
	margin: 0 5px
}
.zc_selectjs dd {
	position: absolute;
	left: 0
}
.zc_select input {
	height: 28px;
	display: inline-block;
	border: 1px solid #d2ccc4;
	background: #fcfcfb url(http://image.zuchecdn.com/newversion/news/common/select_down.png) no-repeat right center;
	line-height: 28px;
	font-weight: 700;
	padding-left: 10px;
	cursor: pointer;
	width: 90px;
	padding-right: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	z-index: 99
}
.zc_select input.cur {
	border: 1px solid #409DFE;
	box-shadow: 0 0 3px #409DFE;
	background: #fcfcfb url(http://image.zuchecdn.com/newversion/news/common/select_up.png) no-repeat right center
}
.zc_select dd {
	top: 29px;
	border: 1px solid #d2ccc4;
	background: #fff;
	display: none
}
.zc_select dd ul {
	padding: 4px;
	width: 104px;
	max-height: 250px;
	overflow: auto
}
.zc_select dd ul li a {
	line-height: 28px;
	display: block;
	padding: 0 8px
}
.zc_select dd ul li a:hover {
	background: #C1E1FF;
	text-decoration: none
}
.a_hover_box {
	position: absolute;
	z-index: 700;
	display: none
}
#fade {
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: .3;
	filter: alpha(opacity=30);
	z-index: 887
}
.popup_block, .popup_block_alert {
	display: none;
	background: #fff;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 888;
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,.25);
	-moz-box-shadow: 0 0 30px rgba(0,0,0,.25);
	box-shadow: 0 0 30px rgba(0,0,0,.25);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 5px
}
.popup_block_alert {
	min-width: 300px;
	min-height: 100px;
	padding-bottom: 15px
}
.popup_block_alert h1 {
	line-height: 35px;
	font-size: 16px;
	line-height: 35px;
	padding-left: 20px;
	font-family: 'microsoft yahei' Arial
}
.popup_block_alert p {
	text-align: center;
	padding: 10px;
	min-height: 40px
}
.popup_block_alert input {
	min-width: 50px;
	padding: 4px 7px;
	text-align: center;
	border: 0;
	background-color: #00f;
	color: #fff
}
.popup_block_alert span.padding {
	padding-left: 20px
}
.popup_block .close, .popup_block_alert .close {
	background: url(http://image.zuchecdn.com/newversion/common/close.png) no-repeat left bottom;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	display: block;
	text-decoration: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 11;
	text-indent: -99999px
}
.popup_block_alert .a_ipt {
	text-align: center
}
.popup_block .close:hover, .popup_block_alert .close:hover {
	text-decoration: none
}
.popup p {
	padding: 5px 10px;
	margin: 5px 0
}
.btn_graywauto, .btn_greenwauto, .btn_orgwauto, .btn_bluewauto {
	background-image: url(http://image.zuchecdn.com/newversion/common/butbgx.png);
	background-repeat: repeat-x;
	vertical-align: middle
}
.btn_graywauto:hover, .btn_greenwauto:hover, .btn_orgwauto:hover, .btn_bluewauto:hover {
	background-image: url(http://image.zuchecdn.com/newversion/common/butbgxhover.png);
	background-repeat: repeat-x
}
.btn_graywauto:active, .btn_greenwauto:active, .btn_orgwauto:active, .btn_bluewauto:active {
	background-image: url(http://image.zuchecdn.com/newversion/common/butbgxhover.png);
	background-repeat: repeat-x
}
.btn_graywauto {
	background-position: 0 0;
	border: 1px solid #cacaca;
	border-radius: 2px;
	height: 30px;
*+height:32px;
	padding: 0 8px;
*+padding:0;
	cursor: pointer;
	background-color: #f2f2f2
}
.btn_greenwauto {
	background-position: 0 -35px;
	border: 1px solid #84bc3e;
	border-radius: 2px;
	height: 30px;
*+height:32px;
	padding: 0 8px;
*+padding:0;
	cursor: pointer;
	background-color: #a5ce65
}
.btn_orgwauto {
	background-position: 0 -70px;
	border: 1px solid #ff8100;
	border-radius: 2px;
	height: 30px;
*+height:32px;
	padding: 0 8px;
*+padding:0;
	cursor: pointer;
	background-color: #ffa400;
	font-family: "微软雅黑", arial, Simsun, sans-serif
}
.btn_bluewauto {
	background-position: 0 -105px;
	border: 1px solid #499cdc;
	border-radius: 2px;
	height: 30px;
*+height:32px;
	padding: 0 8px;
*+padding:0;
	cursor: pointer;
	background-color: #5294DB;
	font-family: "微软雅黑", arial, Simsun, sans-serif
}
.btn_graywauto:hover {
	background-position: 0 0;
	border: 1px solid #a8a8a8
}
.btn_greenwauto:hover {
	background-position: 0 -35px;
	border: 1px solid #65ac34;
	background-color: #94C557
}
.btn_orgwauto:hover {
	background-position: 0 -70px;
	border: 1px solid #ff6400
}
.btn_bluewauto:hover {
	background-position: 0 -105px;
	border: 1px solid #3d81d4;
	background-color: #6babe3
}
.btn_graywauto:active {
	background-position: 0 0;
	border-bottom: 1px solid #cdcdcd;
	border-top: 1px solid #a2a2a2;
	border-left: 1px solid #b6b6b6;
	border-right: 1px solid #b6b6b6
}
.btn_greenwauto:active {
	background-position: 0 -35px;
	border-bottom: 1px solid #82bc3e;
	border-top: 1px solid #4a9c29;
	border-left: 1px solid #66ac34;
	border-right: 1px solid #66ac34
}
.btn_orgwauto:active {
	background-position: 0 -70px;
	border-bottom: 1px solid #ff8100;
	border-top: 1px solid #ff4800;
	border-left: 1px solid #ff5e00;
	border-right: 1px solid #ff5e00
}
.btn_bluewauto:active {
	background-position: 0 -105px;
	border-bottom: 1px solid #499adc;
	border-top: 1px solid #3168cd;
	border-left: 1px solid #3b7dd4;
	border-right: 1px solid #3b7dd4
}
.mailListBox {
	position: absolute
}
.mailListBox ul {
	width: 200px;
	border: 1px solid #59D6FF
}
.mailListBox ul li {
	padding: 5px;
	cursor: pointer
}
.mailListBox ul li.current, .mailListBox ul li:hover {
	background: #b2d3f5
}
*html #fade {
	position: absolute
}
*html .popup_block {
	position: absolute
}
.floatBox {
	padding: 3px 5px 3px 10px;
	background: #fdfcfa;
	border: solid 1px #ed5565;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	position: absolute;
	z-index: 9999;
	line-height: 20px
}
.floatBox .arrow {
	width: 12px;
	height: 8px;
	display: inline-block;
	background: url(http://image.zuchecdn.com/newversion/common/order.png) no-repeat 0 -26px;
	position: absolute;
	top: -8px
}
.floatBox .sz_priceOrangeSmall {
	top: 3px;
	position: relative
}
.floatBox .orderRed {
	font-family: Arial, Helvetica, sans-serif;
	color: #ed5565
}
.floatBox a.iknow {
	color: #ed5565
}
.floatBox a.iknow:hover {
	text-decoration: none
}
.iptSe {
	background-image: url(http://image.zuchecdn.com/newversion/news/common/input_down.png);
	background-repeat: no-repeat;
	background-position: center right
}
.iptSeup {
	background-image: url(http://image.zuchecdn.com/newversion/news/common/input_up.png);
	background-repeat: no-repeat;
	background-position: center right
}
.iwservice {
	width: 183px;
	color: #b9b9b9
}
input.citySD {
	background: #fff url(http://image.zuchecdn.com/newversion/news/common/input_down.png) no-repeat center right
}
input.citySU, input[type=text].citySU:focus {
	background: #fff url(http://image.zuchecdn.com/newversion/news/common/input_up.png) no-repeat center right;
	border: 1px solid #fabe00;
	border-bottom: 1px dashed #dbe4eb;
	z-index: 100001
}
input.iptSeupcur, .zc_item input.smallinputSel.iptSeupcur, input.iptSeupcur:focus {
	background-image: url(http://image.zuchecdn.com/newversion/news/common/input_up.png);
	border: 1px solid #fabe00;
	background-repeat: no-repeat;
	background-position: center right
}
.zc_item input.smallinputSel.iptSeupcur {
	border-bottom: 0 none
}
input.iptSeupcurday, .zc_item input.smallinputSel.iptSeupcurday, input.iptSeupcurday:focus {
	border: 1px solid #fabe00;
	background-repeat: no-repeat;
	background-position: center right
}
.zc_item input.smallinputSel.iptSeupcurday {
	border-bottom: 0 none
}
input.iptDate:focus {
	border: 1px solid #fabe00;
	border-bottom: 0 none
}
input.redbd {
	border: 1px solid red
}
input.redwords {
	color: red
}
input.bluewords {
	color: #61a1df
}
.areaSelection .close {
	width: 34px;
	height: 34px;
	position: absolute;
	background: url(http://image.zuchecdn.com/newversion/common/close.png) no-repeat 0 0;
	text-indent: -9999px;
	margin-left: 660px
}
.fontOrange {
	color: #f60
}
.h20 {
	height: 20px
}
.bodycolor {
	background-color: #f2f3f5
}
.zc_gray_sub {
	padding: 0 10px;
	min-width: 86px;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	color: #93939e;
	border: 1px solid #e9ebee;
	border-radius: 2px;
	height: 30px;
	line-height: 30px;
	background-color: #fafbfd;
	cursor: pointer
}
.zc_gray_sub.mwidth {
*min-width:100px
}
.zc_gray_sub:hover {
	color: #fff;
	border: 1px solid #fabe00;
	background-color: #fabe00
}
.zc_blue_sub {
	padding: 0 10px;
	min-width: 78px;
	text-align: center;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	border-radius: 2px;
	height: 30px;
	line-height: 30px;
	background-color: #6ab0ff;
	cursor: pointer;
	border: 0
}
.zc_blue_sub:hover {
	background-color: #609fe6
}
.zc_orange_sub {
	padding: 0 10px;
	min-width: 78px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border-radius: 2px;
	height: 30px;
	line-height: 30px;
	background-color: #f3b900;
	cursor: pointer;
	border: 0
}
.zc_orange_sub:hover {
	background-color: #ff8650
}
a.zc_gray_sub {
	display: inline-block;
	text-decoration: none;
	min-width: 58px
}
a.zc_gray_sub:hover {
	text-decoration: none;
	color: #fff;
	border: 1px solid #fabe00;
	background-color: #fabe00
}
a.zc_blue_sub {
	display: inline-block;
	text-decoration: none;
	min-width: 58px
}
a.zc_blue_sub:hover {
	text-decoration: none;
	background-color: #609fe6
}
a.zc_orange_sub {
	display: inline-block;
	text-decoration: none;
	min-width: 58px
}
a.zc_orange_sub:hover {
	text-decoration: none;
	background-color: #ff8650
}
.sz_page_box {
	padding: 30px 10px
}
.sz_page {
	overflow: hidden;
	zoom: 1;
	text-align: center
}
.sz_page a {
	display: inline-block;
	line-height: 28px;
	border: 1px solid #e9ebee;
	color: #93939e;
	min-width: 29px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	margin-left: -4px
}
.sz_page a {
	font-family: Arial, Helvetica, sans-serif
}
.sz_page a.on, .sz_page a:hover {
	border-bottom: solid 1px #fac10a;
	border-top: solid 1px #fac10a;
	color: #fff;
	text-decoration: none;
	background-color: #fac10a
}
.sz_page a.pg_l, .sz_page a.pg_l:hover {
	min-width: 58px
}
.sz-star1, .sz-star2, .sz-star3, .sz-star4, .sz-star5, .sz-star0_half, .sz-star1_half, .sz-star2_half, .sz-star3_half, .sz-star4_half, .evaluatecard-gold, .evaluatecard-general, .evaluatecard-platinum, .evaluatehead-gold, .evaluatehead-general, .evaluatehead-platinum {
	background-image: url(http://image.zuchecdn.com/newversion/news/common/evaluateicon.png);
	background-repeat: no-repeat
}
.sz-star1, .sz-star2, .sz-star3, .sz-star4, .sz-star5, .sz-star0_half, .sz-star1_half, .sz-star2_half, .sz-star3_half, .sz-star4_half {
	display: inline-block;
	width: 93px;
	height: 16px;
	overflow: hidden;
	_margin-bottom: 4px
}
.sz-star1 {
	background-position: -76px -24px
}
.sz-star2 {
	background-position: -57px -24px
}
.sz-star3 {
	background-position: -38px -24px
}
.sz-star4 {
	background-position: -19px -24px
}
.sz-star5 {
	background-position: px -24px
}
.sz-star0_half {
	background-position: -95px 0
}
.sz-star1_half {
	background-position: -76px 0
}
.sz-star2_half {
	background-position: -56px 0
}
.sz-star3_half {
	background-position: -38px 0
}
.sz-star4_half {
	background-position: -19px 0
}
.zc_cft .zc_footmenu {
	background-color: #fff;
	border-top: 1px solid #e9ebee
}
.zc_cft .zc_footcopyright {
	background-color: #1b2b3b
}
.zc_cft .zc_footcopyright .ainfor {
	border-color: #32414f
}
.zc_cft .zc_copyright p {
	color: #6985a5
}
.zc_cft .zc_footcopyright .ainfor a {
	color: #6985a5
}
.zc_orange_bigsub {
	padding: 0 10px;
	min-width: 130px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border-radius: 2px;
	height: 42px;
	line-height: 42px;
	background-color: #f3b900;
	cursor: pointer;
	border: 0;
	font-family: "微软雅黑", arial, Simsun, sans-serif
}
.zc_orange_bigsub:hover {
	background-color: #ff8650
}
a.zc_orange_bigsub {
	display: inline-block;
	text-decoration: none;
	min-width: 130px
}
a.zc_orange_bigsub:hover {
	text-decoration: none;
	background-color: #ff8650
}
.reddot .zc_newsinfo {
	position: absolute;
	top: 9px;
	right: 27px
}
.bhpr {
	position: relative
}
.zc_cx_bx, .zc_cx_sdjc, .zc_cx_jj, .zc_cx_sw, .zc_cx_hh, .zc_cx_suv, .zc_cx_zsw, .zc_cx_dd, .zc_cx_gx {
	height: 20px;
	display: inline-block;
	background: url(http://image.zuchecdn.com/newversion/news/common/zc_clicon.png) no-repeat
}
.zc_cx_bx {
	width: 29px;
	background-position: -8px -14px
}
.zc_cx_sdjc {
	width: 45px;
	background-position: -48px -14px
}
.zc_cx_jj {
	width: 51px;
	background-position: -100px -14px
}
.zc_cx_sw {
	width: 54px;
	background-position: -160px -14px
}
.zc_cx_hh {
	width: 61px;
	background-position: -220px -14px
}
.zc_cx_suv {
	width: 47px;
	background-position: -290px -14px
}
.zc_cx_zsw {
	width: 49px;
	background-position: -352px -14px
}
.zc_cx_dd {
	width: 42px;
	background-position: -413px -14px
}
.zc_cx_gx {
	width: 47px;
	background-position: -470px -14px
}
.zc_stars5, .zc_stars4, .zc_stars3, .zc_stars2, .zc_stars1, .zc_stars0, .zc_stars4_half, .zc_stars3_half, .zc_stars2_half, .zc_stars1_half, .zc_stars0_half, .szb_pk, .szb_jk, .szb_bjk, .argray, .arblue, .argray_top, .arblue_top, .arblue_btm, .zcargray_d, .zcarred_d, .arred_right, .arora_right, .arwhit_btm, .argray_btm, .gift_red, .close_ora, .ora_hot, .ora_heart, .ora_time, .arwhit_top, .qu_icon, .huan_icon, .zuqi_icon, .alter_icon, .gift_redlittle, .jp-previous, .jp-next {
	display: inline-block;
	background: url(http://image.zuchecdn.com/newversion/news/common/zc_clicon.png) no-repeat
}
.zc_stars5, .zc_stars4, .zc_stars3, .zc_stars2, .zc_stars1, .zc_stars0, .zc_stars4_half, .zc_stars3_half, .zc_stars2_half, .zc_stars1_half, .zc_stars0_half {
	height: 12px;
	background-position: -8px -70px
}
.zc_stars5 {
	width: 79px
}
.zc_stars4_half {
	width: 73px
}
.zc_stars4 {
	width: 66px
}
.zc_stars3_half {
	width: 57px
}
.zc_stars3 {
	width: 48px
}
.zc_stars2_half {
	width: px
}
.zc_stars2 {
	width: 40px
}
.zc_stars1_half {
	width: 32px
}
.zc_stars1 {
	width: 23px
}
.zc_stars0_half {
	width: 14px
}
.zc_stars0 {
	width: 6px
}
.szb {
	width: 36px;
	height: 35px
}
.szb_pk {
	background-position: -8px -101px
}
.szb_jk {
	background-position: -48px -101px
}
.szb_bjk {
	background-position: -90px -101px
}
.argray {
	width: 6px;
	height: 9px;
	background-position: -10px -144px
}
.arblue {
	width: 6px;
	height: 10px;
	background-position: -17px -144px
}
.argray_top, .arblue_top, .arblue_btm, .arred_right, .arora_right {
	width: 10px;
	height: 12px
}
.argray_top {
	background-position: -27px -144px
}
.arblue_top {
	background-position: -44px -144px
}
.arblue_btm {
	background-position: -60px -144px
}
.zcargray_d, .zcarred_d {
	width: 13px;
	height: 7px
}
.zcargray_d {
	background-position: -75px -144px
}
.zcarred_d {
	background-position: -94px -144px
}
.arred_right {
	background-position: -109px -143px
}
.arora_right {
	background-position: -120px -143px
}
.argray_btm {
	width: 10px;
	height: 7px;
	background-position: -161px -144px
}
.arwhit_btm {
	width: 10px;
	height: 7px;
	background-position: -139px -144px
}
.arwhit_top {
	width: 10px;
	height: 7px;
	background-position: -180px -144px
}
.gift_red {
	width: 22px;
	height: 21px;
	background-position: -139px -101px
}
.close_ora {
	width: 15px;
	height: 15px;
	background-position: -180px -101px
}
.ora_hot, .ora_heart, .ora_time {
	width: 86px;
	height: 38px
}
.ora_hot {
	background-position: -199px -165px
}
.ora_heart {
	background-position: -94px -165px
}
.ora_time {
	background-position: 0 -165px
}
.qu_icon {
	width: 20px;
	height: 24px;
	background-position: -214px -101px
}
.huan_icon {
	width: 20px;
	height: 24px;
	background-position: -242px -101px
}
.zuqi_icon {
	width: 20px;
	height: 20px;
	background-position: -275px -101px
}
.alter_icon {
	width: 20px;
	height: 15px;
	background-position: -309px -101px
}
.gift_redlittle {
	width: 18px;
	height: 20px;
	background-position: -141px -71px
}
.jp-previous {
	background-position: -200px -139px
}
.jp-next {
	background-position: -224px -139px
}
.zc_righttool {
	position: fixed;
	width: 10px;
	height: 100%;
	border-right: 2px solid #1b2b3b;
	top: 0;
	right: 0;
	z-index: 300
}
.zc_tool {
	position: fixed;
	top: 50%;
	right: 2px;
	margin-top: -220px;
	z-index: 301
}
.zc_tool ul.ulbox {
	width: 36px
}
.zc_tool a.abox {
	display: block;
	width: 16px;
	padding: 12px 10px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background-color: #1b2b3b;
	border-radius: 3px 0 0 3px;
	margin-bottom: 1px;
	line-height: 16px
}
.zc_tool a.abox:hover, .zc_tool li.cur a.abox {
	text-decoration: none;
	background-color: #fabe00
}
.zc_tool .zc_nont_ory, .zc_tool .zc_has_ory {
	display: block;
	position: absolute;
	top: 9px;
	left: 23px;
	z-index: 301
}
.zc_tool ul.ulbox .zc_asset_i, .zc_tool ul.ulbox .zc_phone_i, .zc_tool ul.ulbox .zc_phone_i {
	vertical-align: top;
	margin-bottom: 7px
}
.zc_tool_asset {
	position: absolute;
	top: 0;
	right: 42px;
*+right:41px
}
.zc_tool_asset .a_notlogin {
	position: relative;
	min-width: 388px;
	min-height: 174px;
	padding-top: 56px;
	font-size: 14px;
	color: #60606c;
	text-align: center;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #dadadf;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.15);
	box-shadow: 0 0 20px rgba(0,0,0,.15)
}
.zc_tool_asset .a_notlogin .rightsj {
	position: absolute;
	font-size: 38px;
*font-size:21px;
	_font-size: 21px;
	color: #dadadf;
	top: 0;
	right: -11px;
	line-height: 46px
}
.zc_tool_asset .a_notlogin .arrowicon {
	position: absolute;
	height: 25px;
	color: #fff;
	top: 0;
	right: 1px;
	font-size: 38px;
*font-size:21px;
	_font-size: 21px;
	line-height: 46px
}
.zc_tool_asset .a_login {
	position: relative;
	width: 200px;
	min-height: 263px
}
.zc_tool_asset .a_login .rightsj {
	position: absolute;
	font-size: 38px;
*font-size:21px;
	_font-size: 21px;
	color: #ff8650;
	top: 0;
	right: -11px;
	line-height: 46px
}
.zc_tool_asset .a_login .arrowicon {
	position: absolute;
	height: 25px;
	color: #ff8650;
	top: 0;
	right: 1px;
	font-size: 38px;
*font-size:21px;
	_font-size: 21px;
	line-height: 46px
}
.zc_tool_asset .a_login .coupon-box {
	width: 200px;
	height: 148px;
	position: relative;
	z-index: 302
}
.zc_tool_asset .a_login .jfczk-box {
	position: relative;
	width: 198px;
	height: 116px;
	overflow: hidden;
	margin-top: -5px;
	background-color: #faf4e1;
	border-bottom: 1px solid #fae5a2;
	border-right: 1px solid #fae5a2;
	border-left: 1px solid #fae5a2;
	z-index: 301
}
.zc_tool_asset .a_login .coupon-box .tbox, .zc_tool_asset .a_login .coupon-box .bbox {
	width: 200px;
	height: 8px;
	line-height: 8px;
	background-image: url(http://image.zuchecdn.com/newversion/news/common/zc_tool_asset.png);
	background-repeat: no-repeat
}
.zc_tool_asset .a_login .coupon-box .tbox {
	background-position: 0 0
}
.zc_tool_asset .a_login .coupon-box .bbox {
	background-position: 0 -8px
}
.zc_tool_asset .a_login .coupon-box .cenbox {
	width: 200px;
	height: 132px;
	background-color: #ff8650;
	cursor: pointer
}
.zc_tool_asset .a_login .coupon-box .cenbox ul {
	margin: 0 5px;
	border: 1px solid #ffab85;
	height: 99px;
*height:114px;
	_height: 114px;
	overflow: hidden;
	padding: 20px 20px 10px;
*padding:6px 20px 10px;
	_padding: 6px 20px 10px
}
.zc_tool_asset .a_login .coupon-box .cenbox .line {
	height: 1px;
	border-top: 1px solid #ffb08d;
	text-align: center
}
.zc_tool_asset .a_login .coupon-box .cenbox .line span {
	position: relative;
	top: -10px;
	color: #faf4e1;
	font-family: "Microsoft yahei";
	background: #ff8650;
	padding: 0 6px;
	line-height: 18px;
	font-size: 14px
}
.zc_tool_asset .a_login .coupon-box .cenbox .number {
	width: 148px;
	font-size: 24px;
	color: #fff;
	text-align: center;
	height: 55px;
	line-height: 55px;
	padding: 13px 0 5px;
	font-family: "Microsoft yahei";
	white-space: normal
}
.zc_tool_asset .a_login .coupon-box .cenbox .number span {
	font-size: 52px
}
.zc_tool_asset .a_login .coupon-box .cenbox .f14 {
	font-size: 14px;
	color: #fff;
	text-align: center;
	font-family: "Microsoft yahei"
}
.zc_tool_asset .a_login .coupon-box .cenbox:hover .number, .zc_tool_asset .a_login .coupon-box .cenbox:hover .f14 {
	color: #fae5a2
}
.zc_tool_asset .a_login .jfczk-box a {
	display: block;
	width: 98px;
	float: left;
	height: 45px;
	border-left: 1px solid #fae5a2;
	margin-top: 37px
}
.zc_tool_asset .a_login .jfczk-box a b {
	display: block;
	font-weight: 400;
	text-align: center;
	font-size: 24px;
	color: #ff8650;
	line-height: 26px;
	font-family: "Microsoft yahei"
}
.zc_tool_asset .a_login .jfczk-box a span {
	position: relative;
	display: block;
	font-weight: 400;
	text-align: center;
	font-size: 12px;
	color: #93939e;
	line-height: 16px;
	font-family: "Microsoft yahei"
}
.zc_tool_asset .a_login .jfczk-box a span .zc_newsinfo {
	position: absolute;
	top: 0;
	right: 15px
}
.zc_tool_asset .a_login .jfczk-box a:hover {
	text-decoration: none
}
.zc_tool_asset .a_login .jfczk-box a:hover b {
	color: #ff5050
}
.zc_tool_order {
	position: absolute;
	min-width: 388px;
	min-height: 230px;
	background-color: #fff;
	top: 0;
	right: 42px;
*+right:41px;
	border-radius: 4px;
	border: 1px solid #dadadf;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.15);
	box-shadow: 0 0 20px rgba(0,0,0,.15)
}
.zc_tool_order dl {
	position: relative;
	min-height: 230px
}
.zc_tool_order dt {
	clear: both;
	font-size: 14px;
	color: #60606c;
	line-height: 46px;
	border-bottom: 1px solid #f2f3f5;
	position: relative;
	padding-left: 20px
}
.zc_tool_order dt .frr {
	position: absolute;
	line-height: 46px;
	top: 0;
	right: 20px;
	font-size: 12px
}
.zc_tool_order dt .blue {
	color: #00cee1
}
.zc_tool_order .rightsj {
	position: absolute;
	font-size: 38px;
*font-size:21px;
	_font-size: 21px;
	color: #dadadf;
	top: 0;
	right: -11px;
	line-height: 46px
}
.zc_tool_order .arrowicon, .zc_tool_phone .arrowicon {
	position: absolute;
	height: 25px;
	color: #fff;
	top: 0;
	right: 1px;
	font-size: 38px;
*font-size:21px;
	_font-size: 21px;
	line-height: 46px
}
.zc_tool_order dd {
	float: left;
	padding-top: 24px;
	font-size: 12px;
	color: #60606c
}
.zc_tool_order dd.carimg {
	padding-left: 20px;
	padding-right: 15px
}
.zc_tool_order dd.but_box {
	clear: both;
	width: 388px;
	padding-top: 0;
	position: absolute;
	left: 0;
	bottom: 0
}
.zc_tool_order dd.but_box a {
	display: block;
	font-size: 12px;
	color: #60606c;
	line-height: 46px;
	text-align: center;
	border-top: 1px solid #f2f3f5
}
.zc_tool_order dd.but_box a:hover {
	text-decoration: none
}
.zc_tool_order dd.carinfor {
	padding-left: 25px;
	width: 185px
}
.zc_tool_order .pt15 .zc_yell_w80 {
	display: block;
	margin: 0 auto;
	width: 80px
}
.zc_tool_order .zc_qu_i, .zc_tool_order .zc_huan_i {
	position: absolute;
	top: 0;
	left: -25px
}
.zc_tool_order .time {
	color: #93939e
}
.zc_tool_phone {
	position: absolute;
	min-width: 265px;
	min-height: 162px;
	background-color: #fff;
	top: 0;
	right: 42px;
	border-radius: 4px;
	border: 1px solid #dadadf;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.15);
	box-shadow: 0 0 20px rgba(0,0,0,.15)
}
.zc_tool_phone .rightsj {
	position: absolute;
	font-size: 38px;
*font-size:21px;
	_font-size: 21px;
	color: #dadadf;
	top: 0;
	right: -11px;
	line-height: 46px
}
.zc_tool_phone .rtoolphone {
	padding: 20px 20px 20px 155px;
*padding:5px 20px 20px 155px;
	_padding: 5px 20px 20px 155px;
	position: relative
}
.zc_tool_phone .rtoolphone img.qcode {
	position: absolute;
	top: 20px;
	left: 20px
}
.zc_tool_phone .rtoolphone p {
	font-size: 14px;
	color: #60606c;
	line-height: 22px;
	white-space: nowrap
}
.zc_tool_phone .rtoolphone a.rtooldownbut {
	display: block;
	font-size: 12px;
	color: #60606c;
	width: 98px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border: 1px solid #dbdde1;
	background-color: #fafbfc;
	margin-top: 8px;
	border-radius: 2px
}
.zc_tool_phone .rtoolphone a.rtooldownbut:hover {
	text-decoration: none;
	background-color: #f6bb00;
	color: #fff;
	border-color: #f6bb00
}
.zc_tool_share {
	display: none;
	position: absolute;
	min-width: 212px;
	min-height: 303px;
	background-color: #fff;
	bottom: -42px;
	right: 42px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.15);
	box-shadow: 0 0 20px rgba(0,0,0,.15)
}
.zc_tool_share .rightsj {
	position: absolute;
	font-size: 38px;
	color: #fff;
	bottom: 40px;
	right: -11px;
	line-height: 46px
}
.mt5 {
	margin-top: 6px
}
.zc_tool_notlogin {
	padding-top: 56px;
	font-size: 14px;
	color: #60606c
}
.zc_tool_notlogin div, .zc_tool_zuche div {
	text-align: center
}
.zc_or_w80 {
	display: inline-block;
	min-width: 80px;
	text-align: center;
	line-height: 32px;
	border: 0;
	font-size: 14px;
	color: #fff;
	background-color: #ff8650;
	border-radius: 3px;
	font-family: "Microsoft YaHei"
}
.zc_tool_zuche {
	padding-top: 80px;
	font-size: 14px;
	color: #60606c
}
.zc_yell_w80 {
	display: inline-block;
	min-width: 80px;
	text-align: center;
	line-height: 32px;
	border: 0;
	font-size: 14px;
	color: #fff;
	background-color: #f3b900;
	border-radius: 3px;
	font-family: "Microsoft YaHei"
}
.zc_yell_w80:hover {
	background-color: #ff8650;
	text-decoration: none
}
.calendarPrice {
	width: 344px;
	min-height: 232px;
	height: auto;
	border: 1px solid #dadadf;
	border-radius: 5px;
	position: absolute;
	right: 0;
	top: 50px;
	background: #fff;
	z-index: 999999;
	display: none;
	font-size: 12px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.25);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.25);
	box-shadow: 0 0 20px rgba(0,0,0,.25)
}
.calendarPrice .top {
	position: absolute;
	top: -22px;
*top:-15px;
	right: 60px;
	height: 16px;
	color: #dadadf;
	font-size: 30px;
*font-size:18px
}
.calendarPrice .top1 {
	position: absolute;
	top: 1px;
	right: 0;
	height: 16px;
	color: #f9f9fb
}
.calendarPrice .calendarTitle {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	border-bottom: solid 1px #eff0f2;
	color: #60606c;
	background: #f9f9fb
}
.calendarPrice .calendarBottom {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font: 12px/12px "微软雅黑";
*font:13px/13px "微软雅黑";
	height: 38px;
	line-height: 38px;
	background: #f9f9fb;
	padding: 0 10px;
	color: #939a9f;
	text-align: right
}
.calendarPrice .calendarBottom .orange {
	color: #ff8650
}
.calendarPrice .calendarWeek {
	height: 25px;
	background: #fff
}
.calendarPrice .calendarWeek span {
	width: 49px;
	display: inline-block;
	float: left;
	line-height: 24px;
	text-align: center
}
.calendarPrice .calendarWeek span.orange {
	color: #fabe00
}
.calendarPrice .calendarDays {
	height: 43px;
*zoom:1;
	background: #fff
}
.calendarPrice .calendarDays a {
	width: 48px;
	display: inline-block;
	float: left;
	line-height: 39px;
	text-align: center;
	border: solid 1px #eff0f2;
	background: #fff;
	cursor: pointer;
	position: relative;
	z-index: 0;
	height: 42px;
	overflow: hidden;
	font: 12px/12px "微软雅黑";
*font:13px/13px "微软雅黑";
	cursor: pointer;
	margin: -1px -1px 0 0
}
.calendarPrice .calendarDays a em {
	font-size: 12px;
	display: block;
	position: absolute;
	width: 100%;
	line-height: 15px;
	font-style: normal
}
.calendarPrice .calendarDays a em.date {
	left: 10px;
	top: 4px;
	text-align: left;
	font-size: 14px;
	color: #60606c
}
.calendarPrice .calendarDays a em.SpOffer {
	left: 0;
	bottom: 0;
	color: #939a9f
}
.calendarPrice .calendarDays a.current, .calendarPrice .calendarDays a:hover {
	background: #fff1d6;
	border: 1px solid #fabe00;
	position: relative;
	z-index: 1000
}
.calendarPrice .calendarDays a:hover {
	z-index: 99;
	background: #fff1d6;
	text-decoration: none
}
.calendarPrice .calendarDays a .shadow {
	display: none
}
.calendarBlue {
	color: #61a1df
}
.calendarGray {
	color: #b9b9b9
}
.calendarOrange {
	color: #f60
}
#zc_ggfixed {
	display: none;
	position: fixed;
	left: 0;
	bottom: -80px;
	width: 100%;
	height: 80px;
	z-index: 298;
	background: url(http://image.zuchecdn.com/newversion/carlistbotom/ggputinbg.png)
}
#zc_ggfixed .minbox {
	width: 1157px;
	padding-left: 33px;
	margin: 0 auto;
	height: 80px;
	position: relative;
	text-align: center;
	white-space: nowrap
}
#zc_ggfixed .minbox.line {
	background: url(http://image.zuchecdn.com/newversion/carlistbotom/ggputinbglint.png) no-repeat center center
}
#zc_ggfixed .minbox a {
	margin: 0 44px
}
#zc_ggfixed .minbox a:hover {
	text-decoration: none
}
#zc_ggfixed .minbox a.clockgg {
	display: inline-block;
	width: 33px;
	height: 33px;
	vertical-align: middle;
	font-size: 12px;
	line-height: 33px;
	margin: 0;
	background-image: url(http://image.zuchecdn.com/newversion/carlistbotom/ggputinclock.png);
	background-repeat: no-repeat;
	background-position: 0 0
}
#zc_ggfixed .minbox a.clockgg:hover {
	background-position: -35px 0
}
